<div class="page-header">
  <%= link_to new_resource_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Resource
  <% end %>
  <h1>Listing resources</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Language</th>
            <th>Type</th>
            <th>Link</th>
            <th>Completed</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @resources) do |resource| %>
            <td><%= resource.title %></td>
            <td><%= resource.language %></td>
            <td><%= resource.type %></td>
            <td><%= resource.link %></td>
            <td><%= resource.completed %></td>
            <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
