<div class="page-header">
  <%= link_to new_resource_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Resource
  <% end %>
  <h1>Your Dashboard</h1>
</div>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Language</th>
            <th>Category</th>
            <th>Link</th>
            <th>Completed</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @resources) do |resource| %>
            <td><%= resource.title %></td>
            <td><%= resource.language %></td>
            <td><%= resource.category %></td>
            <td><%= link_to(resource.link) %></td>
            <td><%= resource.completed %></td>
            <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<h5>Progress</h5>
<p>Docs</p>
<div class="progress progress-striped">
  <div class="progress-bar progress-bar-info" style="width: 20%"></div>
</div>
<p>Books</p>
<div class="progress progress-striped">
  <div class="progress-bar progress-bar-success" style="width: 40%"></div>
</div>
<p>Tutorials</p>
<div class="progress progress-striped">
  <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
</div>
<p>Podcasts</p>
<div class="progress progress-striped">
  <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
</div>
